@media (min-width:1200px) {}

@media (min-width:992px) and (max-width: 1199.98px) {}

@media (min-width:768px) and (max-width: 991.98px) {
    

}

@media (min-width:576px) and (max-width: 767.98px) {
    .client_bg2 {
        padding: 52px 0 38px 0 !important;
    }

    .main_game {
        padding: 0px 0 20px 0;
    }

    .game_margin2{
        margin-bottom: 22px;
    }
}

@media (max-width: 575.98px) {
    .client_bg2 {
        padding: 50px 0 38px 0 !important;
    }

    .main_game {
        padding: 0px 0 10px 0;
    }

    .game_margin2{
        margin-bottom: 30px;
    }
}