@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 768px) and (max-width: 991.98px) {
    #promo_player_part {
        padding: 70px 0 65px;
    }

    .pro_player_text {
        padding-top: 60px;
    }

    .pro_player_text h2 {
        font-size: 40px;
    }

    .pro_player_text p {
        padding-top: 30px;
    }

    .pro_offer1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .pro_offer2 {
        position: absolute;
    }

    .pro_offer3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .pro_offer4 {
        position: absolute;
        left: 0;
    }

    @keyframes playerss {
        25% {
            position: absolute;
            left: 80%;
            top: 170px;
        }
        50% {
            position: absolute;
            left: 50%;
            top: 58.5%;
            transform: translateX(-50%);
        }
        75% {
            position: absolute;
            left: 20%;
            top: 170px;
        }
        100% {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }
    @keyframes playerss2 {
        25% {
            position: absolute;
            right: 30%;
            top: 61.5%;
        }
        50% {
            position: absolute;
            right: 60%;
            top: 170px;
        }
        75% {
            position: absolute;
            right: 35%;
            top: 0;
        }
        100% {
            position: absolute;
            right: 0;
            top: 170px;
        }
    }
    @keyframes playerss3 {
        25% {
            position: absolute;
            left: 26.5%;
            bottom: 170px;
        }
        50% {
            position: absolute;
            left: 50%;
            bottom: 340px;
            transform: translateX(-50%);
        }
        75% {
            position: absolute;
            left: 73.5%;
            bottom: 170px;
        }
        100% {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }
    @keyframes playerss4 {
        25% {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
        50% {
            position: absolute;
            left: 73.5%;
            top: 170px;
            transform: translateX(-50%);
        }
        75% {
            position: absolute;
            left: 50%;
            top: 61.5%;
            transform: translateX(-50%);
        }
        100% {
            position: absolute;
            left: 0;
            top: 170px;
        }
    }
    /* @-webkit-keyframes lineshine {
        form {
            left: 0;
        }
        to {
            left: 88%;
        } */
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #promo_player_part {
        padding: 60px 0 53px;
    }

    .pro_player_offer {
        height: 555px;
    }

    .pro_offer_inner {
        text-align: center;
    }

    .pro_offer_inner img {
        width: 240px !important;
    }

    .pro_offer_inner .overly {
        padding-top: 110px;
    }

    .pro_offer_inner .overly h4 {
        font-size: 20px;
    }

    .pro_offer_inner .overly h3 {
        font-size: 28px;
    }

    .pro_offer_inner .overly p {
        padding: 0px 30px;
        font-size: 35px;
    }

    .pro_offer1 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .pro_offer2 {
        position: absolute;
    }

    .pro_offer3 {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }

    .pro_offer4 {
        position: absolute;
        left: 0;
    }

    @keyframes playerss {
        25% {
            position: absolute;
            left: 73.5%;
            top: 170px;
        }

        50% {
            position: absolute;
            left: 50%;
            top: 61.5%;
            transform: translateX(-50%);
        }

        75% {
            position: absolute;
            left: 26.5%;
            top: 170px;
        }

        100% {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }
    }

    @keyframes playerss2 {
        25% {
            position: absolute;
            right: 23.5%;
            top: 61.5%;
        }

        50% {
            position: absolute;
            right: 47%;
            top: 170px;
        }

        75% {
            position: absolute;
            right: 23.5%;
            top: 0;
        }

        100% {
            position: absolute;
            right: 0;
            top: 170px;
        }
    }

    @keyframes playerss3 {
        25% {
            position: absolute;
            left: 26.5%;
            bottom: 170px;
        }

        50% {
            position: absolute;
            left: 50%;
            bottom: 340px;
            transform: translateX(-50%);
        }

        75% {
            position: absolute;
            left: 73.5%;
            bottom: 170px;
        }

        100% {
            position: absolute;
            left: 50%;
            bottom: 0;
            transform: translateX(-50%);
        }
    }

    @keyframes playerss4 {
        25% {
            position: absolute;
            left: 50%;
            top: 0;
            transform: translateX(-50%);
        }

        50% {
            position: absolute;
            left: 73.5%;
            top: 170px;
            transform: translateX(-50%);
        }

        75% {
            position: absolute;
            left: 50%;
            top: 61.5%;
            transform: translateX(-50%);
        }

        100% {
            position: absolute;
            left: 0;
            top: 170px;
        }
    }

    /* @-webkit-keyframes lineshine {
        form {
            left: 0;
        }
        to {
            left: 88%;
        }
    } */
    .pro_player_text {
        padding-top: 60px;
    }

    .pro_player_text h2 {
        font-size: 32px;
    }

    .pro_player_text p {
        font-size: 16px;
        line-height: 22px;
        padding-top: 20px;
    }

    .pro_player_text p span {
        padding-top: 15px;
    }
}

@media (max-width: 575.98px) {
    #promo_player_part {
        padding: 50px 0 43px;
    }

    .pro_player_offer {
        height: auto;
    }

    .pro_offer1,
    .pro_offer2,
    .pro_offer3,
    .pro_offer4 {
        position: relative;
        left: 50%;
        top: 0;
        animation: inherit;
        transform: translateX(-50%);
    }

    .pro_offer2 {
        top: 10px;
    }

    .pro_offer3 {
        top: 20px;
    }

    .pro_offer4 {
        top: 30px;
    }

    .pro_player_text {
        padding-top: 70px;
    }

    .pro_player_text h2 {
        font-size: 25px;
    }

    .pro_player_text p {
        font-size: 16px;
        line-height: 22px;
        padding-top: 20px;
    }

    .pro_player_text p span {
        padding-top: 15px;
    }
}