.client_bg2 {
	padding: 100px 0 38px 0 !important;
}

.error_page_main {
	padding: 100px 0 60px 0;
}

.error_page_main .error_btn a {
	text-decoration: none;
	padding: 14px 30px;
	background: #9e4efc;
	background: -moz-linear-gradient(top, #9e4efc 0%, #570dc8 100%);
	background: -webkit-linear-gradient(top, #9e4efc 0%, #570dc8 100%);
	background: linear-gradient(to bottom, #9e4efc 0%, #570dc8 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9e4efc', endColorstr='#570dc8', GradientType=0);
	margin-left: 20px;
	border-radius: 5px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	-webkit-box-shadow: 0px 6px 0px 0px rgba(58, 0, 144, 1);
	-moz-box-shadow: 0px 6px 0px 0px rgba(58, 0, 144, 1);
	box-shadow: 0px 6px 0px 0px rgba(58, 0, 144, 1);
	text-shadow: 5px 5px 0px rgba(88, 19, 184, .8);
	display: inline-block;
	margin-top: 50px;
}