@media (min-width: 992px) and (max-width: 1199.98px){
    
}
@media (min-width: 768px) and (max-width: 991.98px){

}
@media (min-width: 576px) and (max-width: 767.98px){

}

@media (max-width:575.98px) {
    .client_bg {
        padding: 50px 0 50px 0;
    }

    .abou_clie {
        padding-top: 0px;
    }

    .about_play {
        padding-top: 25px;
    }

    .about_play .paly_1st {
        padding: 10px 20px;
        margin-top: 27px;
        font-size: 16px;
    }

    .about_play .play_but .gameplay {
        margin: 0 15px 0 10px;
    }
}