@media (min-width: 992px) and (max-width: 1199.98px){
    .about_play {
        padding-top: 30px;
    }

    .about_game {
        top: -235px !important;
    }

    .abou_clie {
        padding-top: 133px;
    }
    
}

@media (min-width: 768px) and (max-width: 991.98px){
    .client_bg {
        padding: 100px 0 70px 0;
    }

    .about_game {
        top: -195px !important;
    }

    .abou_clie {
        padding-top: 65px;
    }

    .about_play {
        padding-top: 0;
    }

    .about_play p span {
        padding-top: 10px;
    }

    .about_play .paly_1st {
        padding: 10px 20px;
        font-size: 18px;
        margin-top: 20px;
    }

    .about_play .play_but .gameplay {
        margin: 0 10px 0 15px;
    }

}

@media (min-width: 576px) and (max-width: 767.98px){
    .client_bg {
        padding: 60px 0 60px 0;
    }
    
    .abou_clie {
        padding-top: 0;
    }

    .about_play {
        padding-top: 23px;
    }

    .about_play .paly_1st {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width:575.98px) {
    .client_bg {
        padding: 50px 0 50px 0;
    }

    .abou_clie {
        padding-top: 0px;
    }

    .about_play {
        padding-top: 25px;
    }

    .about_play .paly_1st {
        padding: 10px 20px;
        margin-top: 27px;
        font-size: 16px;
    }

    .about_play .play_but .gameplay {
        margin: 0 15px 0 10px;
    }
}