@media (min-width: 768px) and (max-width: 991.98px){
    
}
@media (min-width: 768px) and (max-width: 991.98px){
    #tounament_part {
        padding: 65px 0 68px 0;
    }

    .touna_head_left h3 {
        font-size: 30px;
    }

    .touna_head_left h3 .effect2 {
        bottom: -36px;
    }

    .touna_head_left h3::after {
        bottom: -20px;
    }

    .touna_left_inner {
        margin-bottom: 15px;
    }

    .touna_left_inner {
        margin-top: 40px;
    }

    .btn:not(:disabled):not(.disabled) {
        padding-bottom: 15px;
    }

    .touna_left_inner button span {
        font-size: 16px;
    }

    .touna_left_inner button i {
        padding-top: 7px;
    }

    .card-body p {
        font-size: 14px;
    }

    .jhamela {
        padding-left: 0 !important;
    }

    .touna_head_left h3 .effect3 {
        bottom: -36px;
    }

    .coun_text {
        margin-top: 35px;
    }

    .coundown {
        margin-top: 20px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    #tounament_part {
        padding: 37px 0 60px 0;
    }

    .touna_head_left {
        padding-top: 20px;
    }

    .touna_head_left h3 {
        font-size: 28px;
    }

    .touna_head_left h3 .effect2 {
        bottom: -30px;
    }

    .touna_head_left h3::after {
        bottom: -15px;
    }

    .touna_left_inner {
        margin-top: 30px;
    }

    .btn:not(:disabled):not(.disabled) {
        padding-bottom: 15px;
    }

    .touna_left_inner button span {
        font-size: 16px;
    }

    .touna_left_inner button i {
        padding-right: 25px;
        padding-top: 0;
    }

    .touna_head_left .card-body {
        padding-right: 30px;
    }

    .touna_head_left {
        padding-top: 20px;
    }

    .touna_head_left h3 .effect3 {
        bottom: -29px;
    }

    .coun_text {
        margin-top: 30px;
    }

    .coundown {
        margin-top: 20px;
    }
}

@media (max-width: 575.98px){
    #tounament_part {
        padding: 35px 0 50px 0;
    }

    .touna_head_left h3 {
        font-size: 25px;
        margin-top: 20px;
    }

    .touna_head_left h3::after {
        bottom: -20px;
    }

    .touna_head_left h3 .effect2 {
        bottom: -33px;
    }

    .touna_left_inner {
        margin-top: 22px;
    }

    .touna_left_inner .card.add_border {
        border: 0px solid transparent;
        border-radius: 0;
    }

    .btn:not(:disabled):not(.disabled) {
        padding-bottom: 0px;
    }

    .touna_left_inner button span {
        font-size: 13px;
    }

    .touna_left_inner button {
        padding-left: 0 !important;
        margin-top: 12px;
    }

    .card-body p {
        font-size: 13px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 10px;
        padding-top: 5px;
    }

    .touna_head_left .card-body {
        padding: 0;
        padding-left: 0;
    }

    .touna_left_inner button i {
        padding-right: 0;
        padding-top: 0;
    }

    .touna_head_left h3 .effect3 {
        bottom: -33px;
    }

    .coun_text {
        margin-top: 40px;
    }

    .coundown {
        margin-top: 28px;
    }

    .toun_scroll_name h5, p {
        font-size: 14px;
    }

}