@media (min-width: 576px) and (max-width: 991.98px){
    #about_banner {
        padding: 150px 0 156px 0 !important;
    }

    .about_menu h2 {
        font-size: 40px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    
    #about_banner {
        padding: 123px 0 51px 0;
    }

    .about_menu h2 {
        font-size: 28px;
    }

    .bread a {
        font-size: 18px;
    }
}

@media (max-width: 575.98px){
    #about_banner {
        padding: 123px 0 51px 0;
    }

    .about_menu h2 {
        font-size: 25px;
    }

    .bread a {
        font-size: 18px;
    }
}