#about_banner {
	padding: 185px 0 210px 0;
	background: #150035;
}

.about_menu h2 {
	font-size: 48px;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	background: -webkit-linear-gradient(bottom, #fdb125 0%, #e07e1e 51%, #fcb100 54%);
	background-clip: border-box;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0 0 25px #4d0148);
	text-transform: capitalize;
}

.bread a {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	text-align: center;
	text-shadow: 3px 6px 0px #1f004f;
	display: inline-block;
	text-transform: capitalize;
}

.bread span {
	color: #fff;
	font-size: 24px;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	text-shadow: 3px 6px 0px #1f004f;
	padding: 0 5px;
}

.bread a.active {
	color: #ff39dc;
}