@media (min-width: 992px) and (max-width: 1199.98px) {
    .game_flow {
        top: -310px !important;
    }

    .game_flow {
        left: 12px !important;
        width: calc(100% - 24px) !important;
    }

    #game_part {
        padding: 171px 0 100px 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #game_part {
        padding: 130px 0 68px 0;
    }

    .game_flow {
        top: -230px !important;
    }

    .border_shadow {
        padding: 30px 15px !important;
    }

    .game_text h2 {
        font-size: 35px !important;
        margin-bottom: 5px !important;
    }

    .game_text h3 {
        font-size: 25px !important;
        margin-bottom: 5px !important;
    }

    .game_text p {
        font-size: 14px !important;
    }

    .game_head {
        margin-top: 18px;
    }

    .game_head h2 {
        font-size: 35px;
        margin: 25px 0 7px 0;
    }

    .game_img {
        margin-top: 27px !important;
    }

    .game_img .game_overly h3 {
        font-size: 20px !important;
    }

    .game_img .game_overly a {
        padding: 10px 20px !important;
        font-size: 15px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #game_part {
        padding: 55px 0 60px 0;
    }

    .game_head h2 {
        font-size: 25px;
        margin-bottom: 10px;
        margin: 0;
        background: -webkit-linear-gradient(bottom, #fdb125 0%, #e07e1e 46%, #fcb100 40%);
        -webkit-background-clip: text;
    }

    .game_img .game_overly h3 {
        font-size: 20px !important;
    }

    .game_img .game_overly a {
        padding: 10px 20px !important;
        font-size: 16px !important;
    }

}

@media (max-width: 575.98px) {
    #game_part {
        padding: 45px 0 50px 0;
    }

    .game_head h2 {
        font-size: 25px;
        margin-bottom: 10px;
        margin: 0;
        background: -webkit-linear-gradient(bottom, #fdb125 0%, #e07e1e 46%, #fcb100 40%);
        -webkit-background-clip: text;
    }

    .game_img .game_overly h3 {
        font-size: 20px !important;
    }

    .game_img .game_overly a {
        padding: 10px 20px !important;
        font-size: 16px !important;
    }

}