@media (min-width: 992px) and (max-width: 1199.98px){
    .promo_banner_text h1 {
        font-size: 175px;
    }

    .promo_banner_text h2 {
        font-size: 52px;
    }

    .promo_banner_text h2 span {
        font-size: 85px;
    }

    .prom_banner_left h3 {
        margin-top: 15px;
    }

    .prom_banner_left{
        padding-left: 40px;
    }

    .pro_banner {
        padding: 250px 0 100px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .pro_banner {
        padding: 150px 0 70px;
    }
    .promo_banner_text h1 {
        font-size: 125px;
    }

    .prom_banner_left h3 {
        font-size: 70px;
        margin-top: 40px;
        padding-left: 45px;
    }

    .promo_banner_text h2 {
        font-size: 37px;
    }

    .promo_banner_text h2 span {
        font-size: 61px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    .coin_page {
        background: #1e0446 !important;
    }

    .pro_banner {
        padding: 50px 0 60px;
        text-align: center;
        background: none;
    }
    
    .prom_banner_left h3 {
        font-size: 60px;
        padding-bottom: 20px;
        margin-top: 0;
    }

    .promo_banner_text h1 {
        font-size: 130px;
    }

    .promo_banner_text h2 {
        font-size: 45px;
    }

    .promo_banner_text h2 span {
        font-size: 75px;
    }
}

@media (max-width: 575px) {
    .coin_page {
        background: #1e0446 !important;
    }

    .pro_banner {
        padding: 40px 0 50px;
        text-align: center;
        background: none;
    }
    
    .prom_banner_left h3 {
        font-size: 60px;
        padding-bottom: 20px;
        margin-top: 0;
    }

    .promo_banner_text h1 {
        font-size: 130px;
    }

    .promo_banner_text h2 {
        font-size: 45px;
    }

    .promo_banner_text h2 span {
        font-size: 75px;
    }

}