@media (min-width: 992px) and (max-width: 1199.98px){
    .game_flow {
        top: -370px !important;
    }

    #contact_page {
        padding: 250px 0 97px 0;
    }

    .address_text h3 {
        padding-bottom: 10px;
    }

    .address_text p {
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    #contact_page {
        padding: 165px 0 75px 0;
    }

    .game_flow {
        top: -260px !important;
    }

    .con_icon {
        height: auto;
        width: auto;
        padding: 20px;
        line-height: 1;
        font-size: 30px;
        margin-right: 15px;
    }

    .address_text h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .address_text p {
        font-size: 11px;
        line-height: 18px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    #contact_page {
        padding: 60px 0 35px 0;
    }

    .cont_address {
        padding-bottom: 25px;
    }
}

@media (max-width: 575.98px){
    #contact_page {
        padding: 50px 0 20px 0;
    }

    .con_icon  {
        color: #fff;
        height: 70px;
        width: 70px;
        line-height: 70px;
        font-size: 25px;
    }

    .address_text h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .address_text p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        line-height: 24px;
    }

    .cont_address {
        padding-bottom: 25px;
    }
}