

@media (min-width: 576px) and (max-width: 991.98px){}

@media (min-width: 576px) and (max-width: .98px){}

@media (max-width: 575.98px){
    #contact_page {
        padding: 50px 0 50px 0;
    }

    .con_icon  {
        color: #fff;
        height: 70px;
        width: 70px;
        line-height: 70px;
        font-size: 25px;
    }

    .address_text h3 {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .address_text p {
        color: #fff;
        font-size: 16px;
        font-weight: 400;
        font-family: 'Nunito', sans-serif;
        line-height: 24px;
    }

    .cont_address {
        padding-bottom: 25px;
    }
}