#footer_part {
    padding: 55px 0 34px 0;
    background: #0b001b;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 0px 0px rgba(0, 0, 0, 1);
}

.foot_about h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    padding-bottom: 21px;
}

.foot_about p {
    color: #fff;
    font-size: 16px;
    font-weight: 200;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 23px;
}

.foot_about a  {
    font-size: 20px;
    color: #fff;
    height: 53px;
    width: 50px;
    background: #9e4efc;
    background: -moz-linear-gradient(top, #9e4efc 0%, #570dc8 100%);
    background: -webkit-linear-gradient(top, #9e4efc 0%, #570dc8 100%);
    background: linear-gradient(to bottom, #9e4efc 0%, #570dc8 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9e4efc', endColorstr='#570dc8', GradientType=0);
    text-align: center;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
    -webkit-box-shadow: 0px 3px 0px 0px rgba(58, 0, 144, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(58, 0, 144, 1);
    box-shadow: 0px 3px 0px 0px rgba(58, 0, 144, 1);
}

.foot_about a:hover {
    background: #ff39dc;
    background: -moz-linear-gradient(top, #ff39dc 0%, #a60084 100%);
    background: -webkit-linear-gradient(top, #ff39dc 0%, #a60084 100%);
    background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff39dc', endColorstr='#a60084', GradientType=0);
    -webkit-box-shadow: 0px 3px 0px 0px rgba(102, 19, 85, 1);
    -moz-box-shadow: 0px 3px 0px 0px rgba(102, 19, 85, 1);
    box-shadow: 0px 3px 0px 0px rgba(102, 19, 85, 1);
}

.foot_info_head h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    padding-bottom: 21px;
}

.foot_secu_text {
    display: flex;
}

.foot_info_text ul li a {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    padding-bottom: 15px;
    display: inline-block;
    transition: all linear .5s;
    -webkit-transition: all linear .5s;
    -moz-transition: all linear .5s;
    -o-transition: all linear .5s;
    -ms-transition: all linear .5s;
}

.foot_info_text ul li a:hover {
    color: #ff39dc;
}

.foot_secu h3 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    font-family: 'Anton', sans-serif;
    padding-bottom: 27px;
}

.foot_secu_text {
    padding-bottom: 27px;
}

.foot_secu_text p {
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
    padding-left: 30px;
}

.foot_secu_text p span {
    display: block;
}

.foot_bot {
    padding: 20px 0;
    background: #0b001b;
    position: relative;
}

.foot_bot:after {
    position: absolute;
    content: '';
    left: 0;
    top: -3px;
    width: 100%;
    height: 3px;
    color: #fcb100;
    background: #000000;
    background: -moz-linear-gradient(top, #000000 67%, #290a59 67%);
    background: -webkit-linear-gradient(top, #000000 67%, #290a59 67%);
    background: linear-gradient(to bottom, #000000 67%, #290a59 67%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#290a59', GradientType=0);
}

.effect {
    position: absolute;
    left: 0;
    top: -15px;
    animation: lineshine 10s infinite;
    animation-direction: alternate;
    z-index: 999;
}

.foot_bot p{
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
}

@keyframes lineshine {
    form {
        left: 0;
    }
    to {
        left: 95%;
    }
}

@keyframes lineshine2 {
    form {
        left: 0;
    }
    to {
        left: 91%;
    }
}

@keyframes lineshine3 {
    form {
        left: 0;
    }
    to {
        left: 88%;
    }
}
