@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Menu part start */
    /* Menu part end */
}

@media (min-width: 768px) and (max-width: 991.98px) {
    #spiner_part {
        background: #150035;
        padding: 70px 0 70px 0;
    }

    .claim_text {
        padding-top: 0px;
    }

    .claim_text h2 {
        font-size: 35px;
    }

    .claim_text p {
        font-size: 14px;
        padding-top: 23px;
    }

    .claim_text p span {
        padding-top: 6px;
    }

    .claim_text a {
        padding: 10px 20px;
        font-size: 16px;
        margin-top: 25px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #spiner_part {
        padding: 60px 0 60px 0;
    }

    .claim_text {
        text-align: center;
        padding-top: 0;
    }

    .claim_text h2 {
        font-size: 28px;
    }

    .claim_text p {
        font-size: 12px;
        padding-top: 5px;
    }
    
    .claim_text a {
        padding: 10px 20px;
        font-size: 16px;
    }
}

@media (max-width: 575.98px) {

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    ol {
        margin: 0;
        padding: 0;
    }

    #spiner_part {
        padding: 50px 0 55px 0;
    }

    .claim_text {
        padding-top: 5px;
    }

    .claim_text h2 {
        padding: 22px 0 8px 0;
        font-size: 25px;
        text-align: center;
        background: -webkit-linear-gradient(bottom, #fdb125 0%, #e07e1e 38%, #fcb100 30%);
        -webkit-background-clip: text;
    }

    .claim_text p {
        text-align: justify;
        padding-top: 0px;
        font-size: 14px;
    }

    .clm_btn {
        text-align: center;
    }

    .claim_text a {
        padding: 10px 20px;
        margin-top: 25px;
        font-size: 16px;
    }
}