@media (min-width: 1200px){}
@media (min-width: 992px) and (max-width: 1199.98px){}
@media (min-width: 768px) and (max-width: 991.98px){
    #pricing_page {
        padding: 45px 0 94px 0;
    }

    .pri_page_in {
        margin-top: 70px !important;
    }

    .game_flow {
        top: -190px !important;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    #pricing_page {
        padding: 60px 0 0px 0;
    }

    .pri_page_in {
        margin-top: 0;
    }

    .pri_page {
        margin-top: 0px;
    }
}

@media (max-width: 575.98px){
    #pricing_page {
        padding: 50px 0 0 0;
    }

    .pri_page {
        margin-top: 0px;
    }

    .pri_page_in {
        margin-top: 0px;
    }
}
