#banner_part {
	background: #150035;
	padding: 250px 0 285px 0;
	position: relative;
}

.banner_img img {
	position: absolute;
	top: 50%;
	left: -90px;
	transform: translateY(-50%);
	height: 600px;
}

.banner_text h4 {
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	filter: drop-shadow(0 0 25px #4d0148);
}

.banner_text h1 {
	font-size: 305px;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	color: #fcb100;
	background: -webkit-linear-gradient(top, #fdb125 45%, #e07e1e 48%, #fcb100 85%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	filter: drop-shadow(0 0 35px #4d0148);
	margin-top: -35px;
}

.banner_text p {
	text-align: center;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Nunito', sans-serif;
	margin-top: -30px;
}

.banner_text a {
	text-decoration: none;
	display: inline-block;
	padding: 15px 30px;
	background: #9e4efc;
	background: -moz-linear-gradient(top, #9e4efc 0%, #570dc8 100%);
	background: -webkit-linear-gradient(top, #9e4efc 0%, #570dc8 100%);
	background: linear-gradient(to bottom, #9e4efc 0%, #570dc8 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#9e4efc', endColorstr='#570dc8', GradientType=0);
	border-radius: 5px;
	color: #ffffff;
	font-size: 20px;
	font-weight: 400;
	font-family: 'Anton', sans-serif;
	-webkit-box-shadow: 0px 6px 0px 0px rgba(58, 0, 144, 1);
	-moz-box-shadow: 0px 6px 0px 0px rgba(58, 0, 144, 1);
	box-shadow: 0px 6px 0px 0px rgba(58, 0, 144, 1);
	text-shadow: 5px 5px 0px rgba(88, 19, 184, .8);
	margin-top: 22px;
}

.banner_text a:hover {
	background: #ff39dc;
	background: -moz-linear-gradient(top, #ff39dc 0%, #a60084 100%);
	background: -webkit-linear-gradient(top, #ff39dc 0%, #a60084 100%);
	background: linear-gradient(to bottom, #ff39dc 0%, #a60084 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ff39dc', endColorstr='#a60084', GradientType=0);
	-webkit-box-shadow: 0px 6px 0px 0px rgba(102, 19, 85, 1);
	-moz-box-shadow: 0px 6px 0px 0px rgba(102, 19, 85, 1);
	box-shadow: 0px 6px 0px 0px rgba(102, 19, 85, 1);
	text-shadow: 5px 5px 0px rgba(166, 0, 132, 0.8);
}